* {
    font-family: "Poppins", "sans-serif";
  }
  
  .info-title {
    color: #0056b3;
    font-weight:700;
  }
  
  .info-data {
    margin-bottom: 30px;
    color: rgb(91, 90, 90);
  }
  
  .burger-btn {
    display: block;
    height: 100%;
    margin: auto;
  }
  
  .nav-inner-wrapper {
    padding: 0 !important;
  }

  .attbtn {
    width: 85px;
    height: 30px;
    border-radius: 8px;
    cursor: default !important;
  }
  

  
  /*-------------------------------About Page CSS-------------------------------*/
  .about_title {
    font-weight: bolder;
    padding-bottom: 2%;
  }
  
  .small_titles {
    font-weight: bolder;
  
  }
  
  .about-content{
    color:#5b5a5a;
  }
  
  .underline {
    text-decoration: underline 5px solid #0056b3;
    padding-bottom: 4%;
  }

  
  /*Account Type*/
  .ac_type {
    margin-right: 30px;
    margin-top: 7px;
  }
  
