* {
    font-family: "Poppins", "sans-serif";
  }
/*----------------Dashboard--------------------------*/
.subfont {
  font-size: 20px;
}



.handpointer {
  cursor: pointer;
}
/*----------------------------------------------Faculty Card--------------------------------------------------------------------------------*/
.scene {
    background-color: transparent;
    width: 340px;
    height: 210px;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  /* Position the front and back side */
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card.is-flipped {
    transform: rotateY(180deg);
  }
  
  /* Style the front side */
  .card__face--front {
    background-image: linear-gradient(rgba(47, 45, 47, 0.329), rgba(59, 54, 54, 0.3)), url('../assets/other/faculty-profile-bg.png');
    background-size: cover;
    border-radius: 10px;
  }
  
  /* Style the back side */
  .card__face--back {
    background-image: linear-gradient(rgba(47, 45, 47, 0.329), rgba(59, 54, 54, 0.3)), url('../assets/other/faculty-profile-bg.png');
    background-size: cover;
    border-radius: 10px;
    color: white;
    transform: rotateY(180deg);
  }
  
  
  .info-title {
  color: #0056b3;
}

.info-data {
  margin-bottom: 30px;
  color: rgb(91, 90, 90);
}

  /*-------------------------------About Page CSS-------------------------------*/
  .about_title {
    font-weight: bolder;
    padding-bottom: 2%;
  }
  
  .small_titles {
    font-weight: bolder;
  
  }
  
  .underline {
    text-decoration: underline 5px solid #0056b3;
    padding-bottom: 4%;
  }

  .about-content{
    color:#5b5a5a;
  }
  
/*Account Type*/
.ac_type {
    margin-right: 10px;
    margin-top: 7px;
  }

 /*email edit*/

 .email_edit_icon{
  margin-top: -15px;
  cursor: pointer;
}
.email_edit{
  width: 100%;
  border: 1px solid rgb(91, 90, 90,0.2);
}

.edit_btn{
  margin-top: -5px;
  height: 10px;
  border-radius: 7px;
  width: 102px;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: #4747A1;
  color: white;
}



/*------------------------------------------------ Feedback -------------------------------------------*/

.feedback-textarea{
  border-radius: 5px !important;
  padding-top: 20px;
}

.feedback-star-div{
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left:5px;
}

/* .star-icon{
  font-size: 30px;
  color: #5b5a5a;
  cursor: pointer;
} */

.rate-area {
	float: left;
	border-style: none;
  margin-left: -17px;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 40px;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: gold;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: gold;
}

.star_css{
  margin-right: 8px;
}

.print_count{
color:#5b5a5a;
font-size:15px;
padding-top:7px;
}
.sidebar-icon-only .sidebar .nav:not(.sub-menu) .nav-item .nav-link{
  border-radius: 0px ;
}
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse .sub-menu{
  border-radius:0px !important;
  margin-top: 0px;
}
.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"] i{
  color:white;
}
/* body:not(.sidebar-icon-only) .sidebar .nav .nav-item.hover-open .collapse */

/* 
.sidebar-icon-only .sidebar .nav .nav-item .nav-link{
  border-radius: 0px ;
} */

/* Classroom page */

.classroom-title{
  color:#6c7383;
}

.select-text{
  color:#6c7383;
}
.classroom-btns{
  width:200px;
}
.classroom-btns-div{
  margin-left: 1.5rem;
}
.search_fetch_btn{
  margin-top: 14px;
}
@media only screen and (max-width: 991px)
{
  .classroom-btns-div {
    margin-left: 0rem;
    
}
  .classroom-btns{
    width:100%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 992px) {
  .classroom-btns-div {
    max-width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .classroom-btns{
    width:80%;
  }

  .classroom-btns-div{
    margin-left: 0rem;
    display: flex;
    justify-content: center;
    place-items: center;
  }
}

/*------------------------------------------------ editclassroom -------------------------------------------*/


@media (max-width: 767px){
.search_fetch_btn {
    margin-top: 0;
}
}

/*---------------------------------------------- manage students ------------------------------------------- */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color:#e5e5e5;
  font-size: 14px;
  margin-bottom: 20px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #e5e5e5;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* classroom page */
.manage-std-btn{
  background-color: #393E46;
  color: white;
}

.manage-std-btn:hover{
  background-color: #272b30;
  color: white;
}

.download-btn{
  background-color: #4c5773;
  color: white;
}

.download-btn:hover{
  background-color: #363e53;
  color: white;
}

.add-faculty-btn{
  background-color: #ffc100;
  color: white;
}

.add-faculty-btn:hover{
  background-color: #e9af00;
  color: white;
}

/*------------------------------------------------ e-Attendance -------------------------------------------*/
.qr-code-container{
  padding: 25px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  background: #ffffff;
  border-radius: 10px;

}
@media (min-width: 768px) {
#btnSubmit{
margin-top: 27px;
}
}

@media(max-width: 767px){
.qr_btnSec{
  text-align: center;
}
}
/*------------------------------------------------ Data table -------------------------------------------*/
.dt-buttons > button{
  background-color: #4c5773;
  color: white;
}
.dt-buttons > button:hover{
  background-color: #363e53;
}

/* Classroom theater start */
.class_title{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: rgb(87, 87, 87);
}

.students_list{
  margin-top: 30px;
  margin-left: 2%;
}

.student_list_col{
  padding: 10px 50px;
}

.student_btn_present{
  background-color: #5eba7d;
  border: none;
  /* padding: 0.8px 15px; */
  width:32px;
  border-radius:3px;
  color:rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 5px;
}

.student_btn_present:hover{
  background-color: #3bb865;

}
/* Classroom theater end */


