RewriteEngine On
RewriteCond %{QUERY_STRING} .
RewriteRule ^([^.]*)$ /$1? [L,NE,R=301]

#for above code below is the description

#Note that this method will erase all GET parameters.
# In case you want to install plugins or scripts, to your website,
# and they will not work, please consider removing the upper 
#content from your .htaccess.

#it’s a security system designed to stop malicious bots from accessing your website (search engines can index it just fine though). It cannot be disabled. If it’s too problematic #for you, you could upgrade your account.
#I understand these suffixes look ugly, however, they are a necessary part of our system to protect websites against malicious bots. These suffixes are completely harmless though, #they won’t prevent legitimate visitors and search engine spiders from accessing your website.
#As for the Google Cookies redirect, I don’t know what you mean by that but it sounds like something which would be caused by the website itself and not one of our systems.


Options -Indexes
AllowOverride

Order allow,deny
Allow From All
<FilesMatch "^amslib\.php$">
Deny From All
</FilesMatch>
