/* The Modal (background) */
  
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 240px;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  overflow: auto;
  background-color: rgb(245, 247, 255,0.9);
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #bdc0cc;
  width: 350px;
  border-radius: 8px;
}

.msg{
  margin-top: 5px;
  margin-bottom: 35px;
  font-size: 1em;
}

/* The Close Button */

.close {
  color: #000000;
  position:relative;
  left:300px;
  bottom:10px;
  float:right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal button */
.modal-btn{
  background-color: #4b49ac;
  color: #eee;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin-top:0px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.modal-btn:hover{
  background-color: #3f3e91; 
  cursor: pointer;
}