.info-title {
    color: #0056b3;
}

.info-data {
    margin-bottom: 30px;
    color: rgb(91, 90, 90);
}

.burger-btn {
    display: block;
    height: 100%;
    margin: auto;
}

.nav-inner-wrapper {
    padding: 0 !important;
}

@media (max-width: 749px) {
    .lblmargin {
        margin-bottom: 1000px;
    }
}

/*Remove Up and Down Arrow in type Number*/
input::-webkit-inner-spin-button {
    appearance: none;

}