.info-title {
  color: #0056b3;
}

.info-data {
  margin-bottom: 30px;
  color: rgb(91, 90, 90);
}

.burger-btn {
  display: block;
  height: 100%;
  margin: auto;
}

.nav-inner-wrapper {
  padding: 0 !important;
}

@media (max-width: 749px) {
  .lblmargin {
    margin-bottom: 1000px;
  }
}

.subfont {
  font-size: 22px;
}

.handpointer {
  cursor: pointer;
}

.attbtn {
  width: 85px;
  height: 30px;
  border-radius: 8px;
  cursor: default !important;
  justify-content: center;
  align-content: center;
}



/*----------------------------------------------Student Card--------------------------------------------------------------------------------*/
.flip-card {
  background-color: transparent;
  width: 340px;
  height: 210px;
  perspective: 1000px;
  /*3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background: #4747A1; */
  background-image: linear-gradient(rgba(47, 45, 47, 0.329), rgba(59, 54, 54, 0.3)), url('../assets/bog.png');
  background-size: cover;
  border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
  background-image: linear-gradient(rgba(47, 45, 47, 0.329), rgba(59, 54, 54, 0.3)), url('../assets/bog.png');
  background-size: cover;
  /* background: #4747A1;    */
  border-radius: 10px;
  color: white;
  transform: rotateY(180deg);
}



/*-------------------------------About Page CSS-------------------------------*/
.about_title {
  font-weight: bolder;
  padding-bottom: 2%;
}

.small_titles {
  font-weight: bolder;

}

.underline {
  text-decoration: underline 5px solid #0056b3;
  padding-bottom: 4%;
}

/*Devloper Page Css*/
.dev_title {
  font-weight: bolder;
  padding-bottom: 2%;
}

.dev_title::after {
  content: "";
  display: block;
  margin-top: 5px;
  background-color: #0056b3;
  height: 5px;
  width: 23%;
}

/*Devpage Navbar*/
.devpage {
  position: fixed;
  bottom: 0;
}

/*Account Type*/
.ac_type {
  margin-right: 30px;
  margin-top: 6px;
}

.team_image {
  height: auto;
  width: 100%;
}

/*-------------------------------About Developer Profile Blocks-------------------------------*/
.pro_block {
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.pro_block:hover {
  transform: translate3d(-5px, -2px, 0px);
  box-shadow: 5px 5px 12px #7b7b81;
  cursor: pointer;
}